* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
hr {
  margin: 0px;
  opacity: 1;
  height: 2px;
}
hr:not([size]) {
  height: 2px;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
li {
  list-style-type: none;
}
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #323264;
}
.container-large {
  width: 100%;
  max-width: calc(1800px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
.container {
  width: 100%;
  max-width: calc(1600px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
.container-small {
  width: 100%;
  max-width: calc(1360px + 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.hidden {
  display: none !important;
}
main {
  font-family: "Montserrat", sans-serif !important;
}
header:hover {
  color: none;
}
header {
  z-index: 4;
  font-family: "Montserrat", sans-serif !important;
}
footer {
  font-family: "Montserrat", sans-serif !important;
}
/* header styles */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.page-title {
  font-size: 36px;
}
.grid {
  display: grid;
}
.grid.item-1 {
  grid-area: a;
}
.grid.item-2 {
  grid-area: b;
  justify-self: flex-end;
  align-items: center;
}
.grid.item-3 {
  padding-top: 16px;
  grid-area: c;
  justify-self: flex-end;
}
.wrapper.grid {
  padding-top: 50px;
  grid-template-areas:
    "a b"
    "a c";
}

.logo {
  max-width: 250px;
  display: flex;
}
.link {
  display: grid;
  grid-template-columns: 0.75fr 0.75fr 0.75fr 5fr 3fr 1fr;
}

.page {
  font-family: "Montserrat";
  font-weight: 700;
}
.burger-container {
  display: none;
}
.close {
  display: none;
}
.line {
  display: none;
  width: 100%;
  height: 2px;
  border: none;
  background-color: #ffffff;
}
.page:hover .line {
  display: block;
}
.red-line {
  width: 100%;
  height: 2px;
  border: none;
  background-color: #f0145a;
}
.hovered {
  color: #f0145a;
}
.lang {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
}
.lang:hover {
  border-radius: 8px;
  background: #ffffff33;
}
.eng-lang {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  padding-bottom: 5px;
  border-radius: 8px;
  background-color: #f0145a;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
}
.flex-nav {
  display: flex;
  justify-content: flex-end;
}
.mr {
  margin-right: 15px;
}
.hillel-logo {
  max-width: 130px;
  aspect-ratio: 2.16/1;
  object-fit: contain;
}
.hillel-slash {
  height: 47px;
  object-fit: contain;
}
.adress-pad {
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.adress-h {
  margin-left: 5px;
  color: #ffffff;
}
.social:hover .fb-vector {
  transition: 0.3s linear;
  fill: #f0145a;
}
.burger {
  display: none;
}
.align {
  font-weight: 700;
}
/* footer styles */
.wrapper-f {
  display: grid;
  padding-bottom: 30px;
  padding-top: 30px;
  grid-template-areas:
    "a b"
    "c c";
}
.adress1 {
  grid-area: a;
}
.adress2 {
  grid-area: c;
}
.adress3 {
  color: #b3b3ba;
  grid-area: b;
  justify-self: flex-end;
}
.bottom-mail {
  display: flex;
  align-items: center;
}
.bottom-adress {
  max-width: 281px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-link {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3;
  color: #24a3ff;
}
.map-link:hover {
  color: #f0145a;
}
.nav-pills {
  display: flex;
  flex-direction: column;
}
.mail-text {
  font-weight: 700;
  color: #24a3ff;
}
.mail-text:hover {
  color: #f0145a;
}
.phone {
  font-weight: 700;
}
.phone-link {
  margin-right: 10px;
  margin-left: 10px;
}
.phone:hover {
  color: #f0145a;
}
.logo-fb:hover .vector-blue {
  transition: 0.3s linear;
  fill: #f0145a;
}
.grey-background {
  background-color: #f5f5fa;
}
.contacts {
  display: flex;
  align-items: center;
}

/* main styles */
/* main section styles */
.main-title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 38px;
  background-image: linear-gradient(to right, #f0145a, #ef8080);
  -webkit-background-clip: text;
  color: transparent;
}
.link-3 {
  font-size: 14px;
  color: #24a3ff;
}
.link-3:hover {
  color: #f0145a;
  transition: 0.3s linear;
}
.color-bcgrnd {
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  color: #ffffff;
}
.main-section {
  padding-bottom: 30px;
  min-height: 100vh;
  background: url("../images/Symbol.png") no-repeat center/contain;
}
/* card-section styles */
.card-section {
  padding-bottom: 60px;
}
.card-title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  color: #24a3ff;
}
.icon-cont {
  padding: 14px;
  max-width: 92px;
  aspect-ratio: 1/1;
  background-color: #ffffff;
  border-radius: 24px;
}
.card-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}
/* describe section styles */
.describe-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.title-turn-idea {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
}
.text-idea {
  font-size: 19px;
}
.list {
  max-width: 375px;
}
.turn-idea {
  max-width: 860px;
}
.description {
  font-weight: 700;
  font-size: 38px;
  background-image: linear-gradient(to right, #ef8080, #f0145a);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 30px;
}
.descript {
  font-weight: 700;
  font-size: 38px;
  color: #b3b3ba;
  margin-bottom: 30px;
}
.descript:hover {
  transition: 0.3s linear;
  color: #f0145a;
}
.descript:not(:last-child) {
  margin-bottom: 30px;
}
.description-container {
  display: flex;
  justify-content: space-between;
}
.legal-text {
  font-weight: 700;
  font-size: 38px;
}
.legal {
  align-self: center;
}
/* slider section */
.first-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.marg {
  margin-bottom: 30px;
}
.slick-track {
  margin-bottom: 30px;
}
.slick-dots li button::before {
  display: none;
}
.slick-dots li.slick-active button {
  opacity: 100%;
}
.slick-dots li button:hover {
  opacity: 60%;
}
.text-of {
  padding-top: 30px;
  padding-bottom: 30px;
}
.slick-dots li button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #24a3ff;
  opacity: 20%;
}
.slick-slide {
  display: flex;
}
.first img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1.3/1;
  margin-right: 30px;
  border-radius: 12px 0px 0px 12px;
}
/* end-gradient */
.end-gradient-1 {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0px 0px 12px 12px;
  background-color: #cacadb;
  width: 100%;
  aspect-ratio: 188/1;
}
.end-gradient-2 {
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 0px 0px 12px 12px;
  background-color: #e7e7f2;
  width: 100%;
  aspect-ratio: 184/1;
}
/* logotype-section */
.tab-content {
  border-left: 4px solid;
  border-color: #ffffff4d;
  margin-left: 60px;
  padding-left: 60px;
}
.nav-pills .nav-link {
  background-color: transparent;
}
.nav-pills .nav-link.active {
  background-color: transparent;
}
.hillel {
  background-color: #1c4280;
}
.wannabiz {
  background-color: #143646;
}
.tapgerine {
  background-color: #f48b30;
}
.look {
  background-color: #9e4dc3;
}
.orangear {
  background-color: #fd9339;
}
.adtelligent {
  background-color: #e2e2e4;
}
.clickky {
  background-color: #c71c36;
}
.eco-leasing {
  background-color: #dcf3f9;
}
.ingra {
  background-color: #eaeaea;
}
.city-par {
  background-color: #282240;
}
.art {
  background-color: #1d4568;
}
.ultimate {
  background-color: #000000;
}
.logo-container {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1700px + 2rem);
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.logotype {
  padding: 1rem;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logotype img {
  max-height: 100%;
  display: initial;
  max-width: 70%;
}
.wrapper3 {
  border-radius: 12px;
}
/* article section */
.article-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f5fa;
}
.title-public {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  background-image: linear-gradient(to right, #f0145a, #ef8080);
  -webkit-background-clip: text;
  color: transparent;
}
.public-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #24a3ff;
}
.article-title {
  font-weight: 700;
  font-size: 16px;
  color: #24a3ff;
}
.already {
  font-weight: 700;
  color: #323264;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.linear {
  height: 4px;
  color: #e6e6f0;
}
.date {
  font-weight: 700;
  font-size: 12px;
  color: #b3b3ba;
  margin-top: 15px;
  margin-bottom: 15px;
}
.article-text {
  color: #000000;
}
.article-container {
  display: grid;
  grid-template-areas: "a b c";
  gap: 30px;
}
.article {
  border-radius: 8px;
  height: 100%;
}
.article-1 {
  background-color: #ffffff;
  padding: 30px;
  min-height: 255px;
}
.area-1 {
  grid-area: a;
}
.area-2 {
  grid-area: b;
}
.area-3 {
  grid-area: c;
}
.slider-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.first {
  font-family: "Montserrat", sans-serif !important;
  width: 100%;
  height: 100%;
  display: flex;

  background-color: #f5f5fa;
  border-radius: 12px;
}
.first-sl {
  display: grid;
  grid-template-columns: 400px 3fr;
  width: 100%;
  height: 100%;
}

.text-about-us {
  padding: 30px;
}
.image-sl {
  aspect-ratio: 1.34/1;
  width: 100%;
  height: 100%;
}

.title-of-slide {
  font-weight: 700;
  font-size: 38px;
  background-image: linear-gradient(to right, #f0145a, #ef8080);
  -webkit-background-clip: text;
  color: transparent;
}
.command {
  margin-top: 30px;
  font-weight: 700;
  color: #24a3ff;
}
.name {
  margin-top: 30px;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 16px;
  color: #b3b3ba;
}
.position {
  color: #b3b3ba;
}
.text-car {
  margin-left: 30px;
}

@media (max-width: 1440px) {
  .container {
    max-width: calc(1320px + 2rem);
  }
  .container-small {
    max-width: calc(1080px + 2rem);
  }
  .logotype {
    border-radius: 0px 0px 0px 0px;
  }
  .wrapper3 div {
    border-radius: none;
  }
  .image-sl {
    aspect-ratio: 1.16/1;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: calc(904px + 2rem);
  }
  .container-small {
    max-width: calc(904px + 2rem);
  }
  .image-sl {
    aspect-ratio: 1/1.32;
  }
  .first-sl {
    grid-template-columns: 400px 2fr;
  }
}
@media (max-width: 820px) {
  .main-section {
    background-size: cover;
  }
  .container {
    max-width: calc(648px + 2rem);
  }
  .container-small {
    max-width: calc(648px + 2rem);
  }

  .wrapper.grid {
    grid-template-areas:
      "b"
      "a"
      "c";
  }
  .grid.item-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .grid.item-2 {
    justify-self: flex-start;
    align-items: center;
  }
  .grid.item-3 {
    justify-self: flex-start;
    padding-top: 0px;
  }
  .wrapper-f {
    grid-template-areas:
      "a"
      "c"
      "b";
  }
  .adress3 {
    justify-self: center;
    margin-top: 30px;
  }
  .container-grid {
    grid-template-columns: 1fr;
  }
  .first {
    display: block;
  }
  .slide-photo {
    min-height: 500px;
    max-width: none;
  }
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
  .first img {
    max-width: 100%;
    border-radius: 12px 12px 0px 0px;
  }
  .logo-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .article-container {
    grid-template-areas:
      "a b"
      "c c";
  }
  .first-sl {
    display: block;
  }
  .image-sl {
    height: 500px;
    aspect-ratio: 1.3/1;
    width: 100%;
  }
}
@media (max-width: 530px) {
  .description-container .wrapper {
    flex-direction: column;
  }
  .description-container .nav-pills {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
    max-width: calc(100vh - 2rem);
  }

  .main-section {
    min-height: initial;
    aspect-ratio: 1/1.6;
  }
  .first-container {
    height: initial;
    aspect-ratio: 1/1.6;
  }

  .form-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .container-grid {
    gap: 30px;
  }
  .page:hover .line {
    display: none;
  }
  .red-line {
    display: none;
  }
  .container {
    max-width: calc(546px + 2rem);
  }
  .container-small {
    max-width: calc(516px + 2rem);
  }
  .burger-container {
    display: block;
    z-index: 7;
  }
  .burger-container.active .burger {
    display: none;
  }
  .burger-container.active .exit {
    display: block;
  }
  .hidding {
    display: none;
  }
  .exit {
    display: none;
    cursor: pointer;
  }

  .page {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #f5f5fa;
    border-radius: 12px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
  }
  .wrapper.grid {
    grid-template-areas:
      "b b"
      "a c";
  }
  .wrapper-f {
    grid-template-areas:
      "a"
      "c"
      "b";
  }
  .wrapper.grid {
    padding-top: 0px;
  }
  .grid.item-3 {
    padding-top: none;
  }
  .wrapper-nav {
    padding: 0.5rem;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
  }
  .wrapper-nav.active {
    z-index: 5;
    background-color: rgba(50, 50, 50, 0.5);
  }
  .flex-nav {
    color: #24a3ff;
    display: block;
    border-radius: 12px;
    background-color: #ffffff;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    width: 100%;
    max-width: 500px;
    height: 100%;
    transition: all 0.3s linear;
    transform: translateY(100vh);
  }
  .mr {
    margin-right: 0px;
  }
  .flex-nav.active {
    transform: translateY(0);
  }
  .burger {
    display: block;
  }
  .burger.active {
    fill: #e6e6f0;
  }
  .grid.item-3 {
    justify-self: flex-end;
    padding-top: 15px;
  }
  .adress-h {
    display: none;
  }
  .link {
    min-width: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 14fr;
  }
  .align {
    justify-self: flex-end;
  }
  .section {
    padding-top: 30px;
  }
  .title-text {
    margin-bottom: 30px;
  }
  .logo {
    align-items: center;
  }
  .hillel-logo {
    max-width: 70px;
  }
  .hillel-slash {
    margin-left: 4px;
    margin-right: 6px;
    max-width: 12px;
    aspect-ratio: 1/2.23;
  }
  .page-title {
    font-size: 20px;
  }
  .title-text {
    font-size: 30px;
  }
  .wrapper-f {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
  .bottom-adress {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bottom-mail {
    justify-content: center;
  }
  .contacts {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .phone-link {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .logo-fb {
    align-self: center;
  }
  .grid.item-1 {
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .adress3 {
    display: flex;
    justify-content: center;
  }
  .map-f {
    margin-top: 10px;
  }
  .card-container {
    column-gap: 30px;
    row-gap: 30px;
  }
  .langauge-navigatin {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .slide-photo {
    height: 500px;
    max-width: 648px;
  }
  .card-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .logo-container {
    grid-template-columns: 1fr;
    max-height: calc(120px * 6);
    overflow-y: auto;
  }
  .article-container {
    grid-template-areas:
      "a"
      "b"
      "c";
  }
  .title-of-slide {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: calc(345px + 2rem);
  }
  .container-small {
    max-width: calc(315px + 2rem);
  }
}
