* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #323264;
}

.container {
  width: 100%;
  max-width: calc(1600px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
.container-small {
  width: 100%;
  max-width: calc(1360px + 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.image-team {
  max-width: calc(1920px + 2rem);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}
.hidden {
  display: none !important;
}
header,
main,
footer {
  background: #ffffff;
}
/* header styles */
.page-title {
  font-size: 36px;
}
.grid {
  display: grid;
}
.grid.item-1 {
  grid-area: a;
}
.grid.item-2 {
  grid-area: b;
  justify-self: flex-end;
  align-items: center;
}
.grid.item-3 {
  padding-top: 16px;
  grid-area: c;
  justify-self: flex-end;
}
.wrapper.grid {
  padding-top: 50px;
  grid-template-areas:
    "a b"
    "a c";
}

.logo {
  display: flex;
}
.link {
  display: grid;
  grid-template-columns: 0.75fr 0.75fr 0.75fr 0.1fr 5fr 0.1fr 2.5fr 0.1fr 0.75fr;
  max-width: 520px;
  gap: 5px;
  align-items: center;
}

.page {
  font-family: "Montserrat";
  font-weight: 700;
  color: #24a3ff;
}
.burger-container {
  display: none;
}
.close {
  display: none;
}
.line {
  display: none;
  width: 100%;
  height: 2px;
  border: none;
  background-color: #24a3ff;
}
.page:hover .line {
  display: block;
}
.red-line {
  width: 100%;
  height: 2px;
  border: none;
  background-color: #f0145a;
}
.hovered {
  color: #f0145a;
}
.lang {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #b3b3ba;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
}
.lang:hover {
  border-radius: 8px;
  background-color: #f5f5fa;
}
.eng-lang {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  padding-bottom: 5px;
  border-radius: 8px;
  background-color: #f0145a;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
}
.flex-nav {
  display: flex;
  justify-content: flex-end;
}
.mr {
  margin-right: 15px;
}
.hillel-logo {
  max-width: 130px;
  aspect-ratio: 2.16/1;
  object-fit: contain;
}
.hillel-slash {
  height: 47px;
  object-fit: contain;
}
.adress-pad {
  color: #b3b3ba;

  text-align: center;
}
.adress-h {
  margin-left: 5px;
  color: #b3b3ba;
}
.social:hover .fb-vector {
  transition: 0.3s linear;
  fill: #f0145a;
}
.burger {
  display: none;
}
.align {
  font-weight: 700;
}
/* footer styles */
.wrapper-f {
  display: grid;
  padding-bottom: 30px;
  padding-top: 30px;
  grid-template-areas:
    "a b"
    "c c";
}
.adress1 {
  grid-area: a;
}
.adress2 {
  grid-area: c;
}
.adress3 {
  color: #b3b3ba;
  grid-area: b;
  justify-self: flex-end;
}
.bottom-mail {
  display: flex;
  align-items: center;
}
.bottom-adress {
  max-width: 281px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-link {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3;
  color: #24a3ff;
}
.map-link:hover {
  color: #f0145a;
}
.mail-text {
  font-weight: 700;
  color: #24a3ff;
}
.mail-text:hover {
  color: #f0145a;
}
.phone {
  font-weight: 700;
}
.phone-link {
  margin-right: 10px;
  margin-left: 10px;
}
.phone:hover {
  color: #f0145a;
}
.logo-fb:hover .vector-blue {
  transition: 0.3s linear;
  fill: #f0145a;
}
.grey-background {
  background-color: #f5f5fa;
}
.contacts {
  display: flex;
  align-items: center;
}
/* main styles */
.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
.flex {
  display: flex;
}
.article-about {
  margin-right: 30px;
  max-width: 950px;
}
.gradient {
  background-image: linear-gradient(to right, #f0145a, #ef8080);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.text-about {
  margin-bottom: 20px;
  font-size: 19px;
}
.text-about-2 {
  font-size: 19px;
}
.title {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 30px;
}
.number {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 10px;
}
.advantages {
  display: flex;
}
.vertical-line {
  height: 100%;
  width: 4px;
  background-color: #e6e6f0;
  display: inline-block;
}
.section {
  background: url(../images/Team.jpg);
}
.article {
  margin-right: 60px;
  font-size: 19px;
  max-width: 940px;
}
.adv-text {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  max-width: 330px;
}
.text-adv {
  margin-top: 10px;
}
.mb {
  margin-bottom: 40px;
}
.image-container {
  aspect-ratio: 240/73;
  width: 100%;
}
.section-title {
  font-size: 38px;
  font-weight: 700;
}
.quality {
  margin-top: 15px;
  margin-bottom: 15px;
}
.slider-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f5fa;
}
.slide {
  aspect-ratio: 3.36/1;
  background-color: #ffffff;
  border-radius: 12px;
  margin-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.logotype {
  margin-left: auto;
  margin-right: auto;
}
.achieve {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}
.slick-dots li button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #24a3ff;
  opacity: 20%;
  margin-top: 30px;
}

.slick-dots li button::before {
  display: none;
}
.slick-dots li.slick-active button {
  opacity: 100%;
}
.slick-dots li button:hover {
  opacity: 60%;
}
@media (max-width: 1440px) {
  .container {
    max-width: calc(1320px + 2rem);
  }
  .container-small {
    max-width: calc(1080px + 2rem);
  }
  .article-about {
    max-width: 660px;
  }
  .article {
    max-width: 660px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: calc(904px + 2rem);
  }
  .container-small {
    max-width: calc(904px + 2rem);
  }
  .article-about {
    max-width: 480px;
  }
  .article {
    max-width: 480px;
  }
}
@media (max-width: 850px) {
  .container {
    max-width: calc(648px + 2rem);
  }
  .container-small {
    max-width: calc(648px + 2rem);
  }
  .article-about {
    max-width: 650px;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .article {
    margin-right: 0px;
    margin-bottom: 30px;
    max-width: 920px;
  }
  .flex {
    display: block;
  }
  .wrapper.grid {
    grid-template-areas:
      "b"
      "a"
      "c";
  }
  .grid.item-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .grid.item-2 {
    justify-self: flex-start;
    align-items: center;
  }
  .grid.item-3 {
    justify-self: flex-start;
    padding-top: 0px;
  }
  .wrapper-f {
    grid-template-areas:
      "a"
      "c"
      "b";
  }
  .adress3 {
    justify-self: center;
    margin-top: 30px;
  }
  .container-grid {
    grid-template-columns: 1fr;
  }
  .vertical-line {
    aspect-ratio: 1/79;
  }
  .logotype {
    max-height: 40px;
  }
}
@media (max-width: 550px) {
  .form-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .container-grid {
    gap: 30px;
  }
  .page:hover .line {
    display: none;
  }
  .red-line {
    display: none;
  }
  .container {
    max-width: calc(546px + 2rem);
  }
  .container-small {
    max-width: calc(516px + 2rem);
  }
  .burger-container {
    display: block;
    z-index: 7;
  }
  .bull {
    display: none;
  }
  .burger-container.active .burger {
    display: none;
  }
  .burger-container.active .exit {
    display: block;
  }
  .hidding {
    display: none;
  }
  .exit {
    display: none;
    cursor: pointer;
  }
  .section-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .page {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #f5f5fa;
    border-radius: 12px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
  }
  .wrapper.grid {
    grid-template-areas:
      "b b"
      "a c";
  }
  .wrapper-f {
    grid-template-areas:
      "a"
      "c"
      "b";
  }
  .wrapper.grid {
    padding-top: 0px;
  }
  .wrapper-nav {
    padding: 0.5rem;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
  }
  .wrapper-nav.active {
    z-index: 5;
    background-color: rgba(50, 50, 50, 0.5);
  }
  .flex-nav {
    display: block;
    border-radius: 12px;
    background-color: #ffffff;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    width: 100%;
    max-width: 500px;
    height: 100%;
    transition: all 0.3s linear;
    transform: translateY(100vh);
  }
  .mr {
    margin-right: 0px;
  }
  .flex-nav.active {
    transform: translateY(0);
  }
  .burger {
    display: block;
  }
  .burger.active {
    fill: #e6e6f0;
  }
  .grid.item-3 {
    justify-self: flex-end;
    padding-top: 15px;
  }
  .adress-h {
    display: none;
  }
  .link {
    min-width: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 14fr;
  }
  .align {
    justify-self: flex-end;
  }
  .section {
    padding-top: 30px;
  }
  .title-text {
    margin-bottom: 30px;
  }
  .logo {
    align-items: center;
  }
  .hillel-logo {
    max-width: 70px;
  }
  .hillel-slash {
    margin-left: 4px;
    margin-right: 6px;
    max-width: 12px;
    aspect-ratio: 1/2.23;
  }
  .page-title {
    font-size: 20px;
  }
  .title-text {
    font-size: 30px;
  }
  .wrapper-f {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
  .bottom-adress {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bottom-mail {
    justify-content: center;
  }
  .contacts {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .phone-link {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .logo-fb {
    align-self: center;
  }
  .grid.item-1 {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .grid.item-2 {
    background-color: #f5f5fa;
  }
  .adress3 {
    display: flex;
    justify-content: center;
  }
  .map-f {
    margin-top: 10px;
  }
  .card-container {
    column-gap: 30px;
    row-gap: 30px;
  }
  .langauge-navigatin {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    background-color: #f5f5fa;
  }
  .title {
    font-size: 30px;
  }
  .section-title {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: calc(345px + 2rem);
  }
  .container-small {
    max-width: calc(315px + 2rem);
  }
}
